@grid-behavior: "hybrid";
@oue-rules-wrapper: ~"";
@import "ta-custom_provost.less";
@import "..\WSU-UE---CSS\variables.less";
@use-design__daesa-hyperlinks: false;
@use-design__provost-hyperlinks: true;
@import "..\WSU-UE---CSS\color-palette.less";
@import "..\WSU-UE---CSS\mixins.less";
@import "..\WSU-UE---CSS\utility-mixins.less";
@import "..\WSU-UE---CSS\animations.less";
@import "..\WSU-UE---CSS\hyperlink.less";
@import "..\WSU-UE---CSS\utility-classes.less";

// @import "..\WSU-UE---CSS\css-build-entry-point.less";
@import "ta-custom_daesa.less";
